<ion-view view-title="我的账户" class="products">
	<ion-content>
		<div class="contents bg_bar border_bottom border_color_white">
			<div class="tirtles textclolor_white"><span class="font_huge_plus ">{{form.account.yesterdayYield | tomoney }}</span> <span class="font_small">￥</span></div>
			<div class="tirtles textclolor_white "><span class="font_small ">昨日收益</span></div>
		</div>
		<div class="row bg_bar_deep nopadding">
			<div class="col border_right border_color_white">
				<a ng-href="#/app/earnings">
				<div class="contents relative">
					<div class="tirtles textclolor_white"><span class="font_huge ">{{form.account.totalYield | tomoney }}</span> <span class="font_small">￥</span></div>
					<div class="tirtles textclolor_white "><span class="font_small ">累计收益</span></div>
					<span class="ion-chevron-right textclolor_gray absolute_right top_30 right_3"></span>
				</div>
				</a>
			</div>
			<div class="col">
				<a ng-href="#/app/withdrawal ">
				<div class="contents relative">
					<div class="tirtles textclolor_white"><span class="font_huge ">{{form.account.balance | tomoney }}</span> <span class="font_small">￥</span></div>
					<div class="tirtles textclolor_white "><span class="font_small ">可用余额</span></div>
					<span class="ion-chevron-right textclolor_gray absolute_right top_30 right_3"></span>
				</div>
				</a>
			</div>
		</div>
		<div class="contents">
			<canvas id="line" class="chart chart-line" data="data_1" labels="labels_1"   colours="colours" click="onClick"></canvas> 
		</div>
		<div class="contents">
			<canvas id="bar" class="chart chart-bar" data="data_2" labels="labels_2"></canvas> 
		</div>
		<div class="contents">
			<canvas id="pie" class="chart chart-pie" data="data_4" labels="labels_4"></canvas> 
		</div>
		<div class="contents">
			<canvas id="radar" class="chart chart-radar " data="data_2" labels="labels_2" ></canvas> 
		</div>

		<div class="clear"></div>
	</ion-content>
</ion-view>
