<ion-view view-title="发布商品"  >
       <ion-content class="padding_bottom_large padding_top bg_eee" >
	   		<div class="contents border_top border_color_gray bg_show">
                  <div class="tirtles">图片展示</div>
                  <div class="tirtles">
<!--flow-init="{target: '/upload'}"-->
                    <div class="tirtles" flow-init="{singleFile:false, testChunks:false}"
                         flow-files-submitted="netedited = true; $flow.upload()"
                         flow-file-success="success($message, $file)"
                         >
                      
                      <div class="tirtles"  >
                        <span class="images_product relative margin_right margin_bottom" ng-repeat="file in $flow.files" ng-show="$flow.files.length">
                                <div class="images_product overflow_hide border_all"><img class="images_all" flow-img="file" /></div>
                                <div class="absolute_right images_product_small border_radius_30 bg_bar_deep text_align_center line_height_18 right_top_5 textclolor_white font_huge_180" ng-click="file.cancel()">-</div>   
                        </span>
                        <span class="images_product overflow_hide border_dashed text_align_center line_height_80" flow-btn>+</span>
                    </div>
                    </div>
                  </div>
                  
            </div>
            <div class="contents border_top border_color_gray bg_show">
                  <div class="tirtles">商品名称</div>
                  <div class="tirtles"><input type="text" ng-model="form.tirtle" class="input_all inputs_text" placeholder="请输入商品名称"></div>
             </div>
             <div class="contents border_top border_bottom border_color_gray bg_show">
               <div class="tirtles">商品介绍</div>
               <div class="tirtles">
                 <textarea class="inputs_textarea" ng-model="form.content" placeholder="请输入商品介绍"></textarea> 
               </div>
             </div>
             <div class="clear"></div>
        </ion-content>
		<div class="bar bar-footer row border_top border_color_grew nopadding bg_eee">
  		<div class="col text_align_center textcolor_ec9826 border_right border_color_grew" ng-click="cancleCre()"><span class="list_cell ion-chatboxes line_height_18 font_huge_180"></span><span class="list_cell">取消</span></div>
  		<div class="col text_align_center textcolor_ec9826" ng-click="createproduct(form)"><span class="list_cell ion-clock line_height_18 font_huge_180"></span><span class="list_cell">确定</span></div>
	 </div>
</ion-view>