<ion-modal-view view-title="修改文章"   hide-nav-bar="true">
    <ion-header-bar  class="bg_bar" >
            <span  class="button button-positive button-icon ion-chevron-left font_normal " ng-click="closedetail()"></span>
            <h1 class="title textclolor_white">文章</h1>
          
        </ion-header-bar>
       <ion-content class="padding_bottom_large padding_top bg_eee" >
            <div class="contents border_all border_color_gray bg_show ">
                  <div class="tirtles">{{form.tirtle}}</div>
                  <div class="tirtles">{{form.content}}</div>
             </div>
             <div class="padding_all list_cell bg_show padding_bottom_large" >
                <div class="tirtles border_bottom border_color_eee">评论</div>
                <div class="tirtles border_bottom border_color_eee" ng-repeat="comitem in form.comment">
                  <div class="list_cell"><span>{{comitem.user}}</span><span ng-if="comitem.repayuser">回复{{comitem.repayuser}}</span> : {{comitem.content}}</div>
                  <div class="list_cell font_small textclolor_black_low">
                      <span>{{comitem.time|stringtotime}}</span>
                      <span class="ion-chatbubble-working textcolor_ec9221 font_huge " ng-click="setrepay(comitem)"></span>
                  </div>
                </div>
             </div>
             <div class="clear"></div>
        </ion-content>
	<div class="bar bar-footer row border_top border_color_grew nopadding bg_show">
  		<div class="col col-75 text_align_center textcolor_ec9826 border_right border_color_grew" >
              <input type="text" class="" ng-model="form.thecomment"/>
             </div>
  		<div class="col col-25 text_align_center bg_bar_deep line_height_45" ng-click="addcommit(form)">
                <span class="list_cell">确定</span>
              </div>
	 </div>
</ion-modal-view>