<ion-view view-title="文章列表" >
  <ion-content class="chosebank">
  <ion-refresher spinner="bubbles" 
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
          </ion-refresher>
    <ion-list>
        <ion-item ng-repeat="c in form.borrowlist" item="item" class="nopadding" ng-click="showarticle(c)">
          <div class="tirtles bg_show padding_left padding_right margin_top" >
                <div class="tirtles_left ">{{c.tirtle}}</div>
                <div class="tirtles_right text_align_right font_small textclolor_black_low">
                  {{c.user}} / {{c.time|stringtotime}}
                </div> 
          </div>
          <div class="tirtles bg_show padding_left padding_right margin_bottom overflow_hide overtext" >
                {{c.content}}
          </div>
          <ion-option-button class="button-calm" ng-click="showupdate(c)">修改</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="del_bower(c)">删除</ion-option-button>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll  ng-if="!noMoreItemsAvailable"
            on-infinite="loadMoreData()"  distance="20%">
          </ion-infinite-scroll>
  </ion-content>
</ion-view>
