<ion-view view-title="选择银行卡">
	<ion-content class="chosebank">
	      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
	      <a href="#/app/makeBank">
	      	<div class="border_top border_bottom border_color_red margin_top bg_top_bf textclolor_red text_align_center pro_add_bank relative chose_add_bank">
			<span class="absolute"><span class="relative font_xx-large">+</span></span>
			<span>点击添加一张银行卡</span>
		</div>
	      </a>
	        <ion-item ng-repeat="item in banklist.data" 
	                  item="item" ng-click="chosebank(item)">
			<div class="row bg_show padding_left">
				<div class="col col-20 nopadding margin_left">
					<img class="bank_icons margin_top_medil" ng-src="{{ item.bankId||'default'|bank_url}}">
				</div>
				<div class="col col-75 nopadding">
					<div class="textclolor_black margin_top">{{item.userName}}</div>
					<div class="textclolor_black_low font_small">{{item.cardNo}} {{item.bankName}}</div>
				</div>
			</div>
	          <ion-option-button class="button-assertive" ng-click="delbank(item)">删除</ion-option-button>
	        </ion-item>
	      </ion-list>
	</ion-content>
</ion-view>