<ion-view  view-title="更改借款人">
      
       <ion-content class="bg_home chosebank" >
            
              <div class="tirtles padding_left margin_top">
                                    <div class="tirtles_left ">限制额度</div>
              </div>
              <div class="contents">
                  <div class="contents_left_20" ng-click="limite()">
                     <span class="tirtles text_align_center  ion-ios-checkmark-outline font_huge_plus  textclolor_green" ng-if="form.islimit==00"></span>
                      <span class="tirtles text_align_center ion-checkmark-circled font_huge_plus  textclolor_green" ng-if="form.islimit==01" ></span>
                  </div>
                  <div class="contents_right_80">
                 	<div class="tirtles bg_show border_radius overflow_hide relative">
                 		<div class="tirtles_left padding_left"><input class="input_all inputs_text  padding_left "  placeholder="请输入借款人手机" ng-model="form.borrower_mobile" name="borrower_mobile" type="tel" required /></div>
                 		<div class="tirtles_right absolute_right"><span class="tirtles_center bg_bar line_height_40 textclolor_white ion-plus font_huge_add" ng-click="addbower()"></span></div>
	               </div>
                 </div>
              </div>
              <div class="tirtles padding_left padding_right">
                          <div class="tirtles_left ">借款人</div>
                          <div class="tirtles_right"><span class="tirtles_right text_align_right  line_height_40 "></span></div>
              </div>
               <div class="clear"></div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
              <ion-item item="item" ng-repeat="c in form.borrowlist.data" class="nopadding">
                <div class="tirtles bg_show border_bottom border_color_home padding_all" >
                            <div class="tirtles_left ">{{c.borrowerMobile}}</div>
                            <div class="tirtles_right">
                              <span class="tirtles_right text_align_right   font_huge ion-ios-checkmark-outline textclolor_green" ng-if="c.riskControl==00"></span>
                              <span class="tirtles_right text_align_right  font_huge ion-checkmark-circled  textclolor_green" ng-if="c.riskControl==01"></span>
                            </div>
                            <ion-option-button class="button-assertive" ng-click="change_risk(c)">删除</ion-option-button>
                </div>
             </ion-item>
              </ion-list>
           
        </ion-content>
    </ion-view>