<ion-view view-title="发布文章"  >
       <ion-content class="padding_bottom_large padding_top bg_eee" >
            <div class="contents border_top border_color_gray bg_show">
                  <div class="tirtles">文章标题</div>
                  <div class="tirtles"><input type="text" ng-model="form.tirtle" class="input_all inputs_text" placeholder="请输入文章标题"></div>
             </div>
             <div class="contents border_top border_bottom border_color_gray bg_show">
               <div class="tirtles">文章内容</div>
               <div class="tirtles">
                 <textarea class="inputs_textarea" ng-model="form.content" placeholder="请输入文章内容"></textarea> 
               </div>
             </div>
             <div class="clear"></div>
        </ion-content>
		<div class="bar bar-footer row border_top border_color_grew nopadding bg_eee">
  		<div class="col text_align_center textcolor_ec9826 border_right border_color_grew" ng-click="cancleCre()"><span class="list_cell ion-chatboxes line_height_18 font_huge_180"></span><span class="list_cell">取消</span></div>
  		<div class="col text_align_center textcolor_ec9826" ng-click="pubArticle(form)"><span class="list_cell ion-clock line_height_18 font_huge_180"></span><span class="list_cell">确定</span></div>
	 </div>
</ion-view>