<ion-view view-title="累计收益" class="products">
	<ion-content>
		<div ng-repeat="v in form.incomeList.data">
			<div class="tirtles bg_show padding_left margin_top textclolor_blue">{{v.incomeDate | todate}}</div>
			<div class="tirtles border_bottom border_color_home bg_show">
				<div class="tirtles_left padding_left">{{v.productName}}</div>
				<div class="tirtles_right padding_right text_align_right"><span class="">{{v.incomeAmount | tomoney }}元</span></div>
			</div>
		</div>
		<div class="clear"></div>
	</ion-content>
</ion-view>