<ion-view view-title="已购产品" class="products">
	<ion-content>
		<div class="list_cell bg_show margin_top" ng-repeat="c in form.boughtlist.data">
			<div class="contents  bg_show border_bottom border_color_home">
				<div class="tirtles font_large">{{c.productName}}</div>
				<div class="tirtles ">
					<div class="tirtles_left textclolor_black_low">本金（元）</div>
					<div class="tirtles_right text_align_right">{{c.investAmount | tomoney }}</div>
				</div>
				<div class="tirtles ">
					<div class="tirtles_left textclolor_black_low">累计收益（元）</div>
					<div class="tirtles_right text_align_right">{{c.yield | tomoney }}</div>
				</div>
			</div>
			<div class="contents row bg_show" >
				<div class="col tirtles_center nopadding font_large textclolor_red border_right border_color_home" ng-click="transferOut(c)">
					赎回
				</div>
				<div class="col tirtles_center nopadding font_large textclolor_red" ng-if="c.productCode=='C' ">
					<a ng-href="#/app/chosebower">更改借款人</a>
				</div>
			</div>
		</div>
		<div class="contents" ng-if="form.boughtlist.data==null||form.boughtlist.data.length==0">
			<div class="tirtles_center">暂无记录</div>
		</div>
		<div class="clear"></div>
	</ion-content>
</ion-view>