<ion-view view-title="填写银行卡信息" class="products">
	<ion-content>
		<form>
			<div class="contents">
				<div class="bg_show bank_number_input border_radius"><span>卡号</span><input type="tel" ng-model="addbank.cardNo" maxlength="19" placeholder="输入银行卡卡号"></div>
			</div>
			
			<!-- <jfpal-select header-text="开户银行" allow-empty='false' text='form.bank' value="form.bank" class="selects" callback="select_banks"
			  items="cache.banks"></jfpal-select> -->
			
			<div class="tirtles bg_show bank_list"><span>姓名</span><i>{{form.username}}</i></div>
			<div class="tirtles bg_show bank_list"><span>卡类型</span>
                                                    <input type="radio" name="chose" ng-model="addbank.cardType" value="01"/>储蓄卡
                                                    <input type="radio" name="chose" ng-model="addbank.cardType" value="02" disabled="disabled" />信用卡 
                                            </div>

			<div class="tirtles bg_show bank_list"><span>身份证</span><i>{{form.idcard}}</i></div>
			<div class="tirtles bg_show bank_list"><span>手机号</span><input type="tel"  ng-model="addbank.mobileNo" maxlength="11" placeholder="输入银行预留手机号"></div>
                		<div class="contents"><button class="button_all button_long bg_bar border_radius margin_top textclolor_white border_none"  ng-href="#/app/choseBank" ng-class="{bg_bar:form.submits,bg_gray:!form.submits}" ng-click="addmybank()" ng-disabled="!form.submits">完成</button></div>
                		<div class="clear"></div>
		</form>
	</ion-content>
</ion-view>

<script id="jfpal-select.html" type="text/ng-template">
     
        <div class="tirtles bg_show bank_list"  ng-click="showItems($event)"><span>{{ headerText}}</span>
        <i ng-mdoel="addbank.bankName">{{text }}</i><i class="icon ion-chevron-right bank_i_right"></i>
        </div>
</script>
<script id="jfpal-select-items.html" type="text/ng-template">
    <ion-view class="jfpal-select-items modal">
        <ion-header-bar  class="bg_bar">
            <span ng-click="hideItems()" class="button button-positive button-icon ion-chevron-left font_normal "></span>
            <h1 class="title textclolor_white">{{headerText}}</h1>
          <button ng-click="validate()" class="button button-positive button-icon ion-checkmark font_normal"></button>
        </ion-header-bar>
        <ion-content class='bg_home'>
            <div>
                <!-- Multi select -->
                <ion-toggle
                    ng-repeat="item in items"
                    ng-if="multiSelect"
                    ng-checked="item.checked"
                    ng-model="item.checked"
                    class="item item-text-wrap">
                    {{item.bankName}}
                </ion-toggle>

                <!-- Single select -->
                <label
                    ng-repeat="item in items"
                    ng-if="!multiSelect"
                    class="item item-text-wrap"
                    ng-click='validateSingle(item)'>
          
                    {{item.bankName}}
                </label>
            </div>
        </ion-content>
    </ion-view>
</script>
