<ion-view view-title="订单详情">
	<ion-content>
		<div class="tirtles bg_show bank_list margin_top">
			<div class="tirtles_left textclolor_black_low">产品编号</div><div class="tirtles_right text_align_right ">{{form.order_etail.productCode}}</div>
		</div>
		<div class="tirtles bg_show bank_list">
			<div class="tirtles_left textclolor_black_low">份数</div><div class="tirtles_right text_align_right ">{{form.order_etail.investQuantity}}</div>
		</div>
		<div class="tirtles bg_show bank_list">
			<div class="tirtles_left textclolor_black_low">投资总额</div><div class="tirtles_right text_align_right ">{{form.order_etail.amountProduct | tomoney }}</div>
		</div>
		<div class="tirtles bg_show bank_list">
			<div class="tirtles_left textclolor_black_low">手续费</div><div class="tirtles_right text_align_right ">{{form.order_etail.amountFee | tomoney }}</div>
		</div>
		<div class="clear"></div>
		
		<div>
			<div class="row bg_show margin_bottom">
				<div class="col col-20 nopadding">
					<img class="bank_icons margin_top_medil" ng-src="{{ form.bank.bankId || 'default' |bank_url}}">
				</div>
				<div class="col col-75 nopadding">
					<div class="textclolor_black">{{form.bank.userName}}</div>
					<div class="textclolor_black_low">{{form.bank.bankName}} {{form.bank.cardNo}}</div>
				</div>
				<div class="col col-5 nopadding line_height_40">
				</div>
			</div>
		</div>
	
		<div class="tirtles bank_list bg_show textclolor_alink" ng-click="showrulesview()">
			收益及提款规则
		</div>
		<div class="contents"><a class="tirtles_center bg_bar textclolor_white border_radius padding_top_bottom" ng-click="payorder()">确认购买</a></div>
		<div class="clear"></div>	
	</ion-content>
</ion-view>