<ion-view view-title="我的信息">
	<ion-content>
		<div class="tirtles bg_home padding_all margin_top border_gray_t"
		 		flow-init="{singleFile:false, testChunks:false}"
				flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                flow-files-submitted="netedited = true; $flow.upload()"
                flow-file-success="success($message, $file)"
				>
			<div class="tirtles_left textclolor_black_low line_height_40">头像</div>
			<div class="tirtles_right text_align_right ">
				 <span class="images_product relative margin_right margin_bottom"  ng-show="personimg">
                          <div class="images_product overflow_hide border_all" ><img class="images_all" flow-img="$flow.files[0]" ng-src="{{form.personimg.photoname|photo_url}}" flow-btn/></div>
                 </span>
                 <span class="images_product overflow_hide border_dashed text_align_center line_height_80" ng-show="!personimg" flow-btn>+</span>
			</div>
		</div>
		<div flow-file-progress=" ... events can be also assigned inside flow-init ... "></div>
		<div class="tirtles bg_home padding_all  border_gray_t">
			<div class="tirtles_left textclolor_black_low line_height_40">昵称</div><div class="tirtles_right text_align_right ">
				<input class="input_all inputs_text text_align_right  padding_left " type="text" placeholder="输入昵称" ng-model="form.username"   />
			</div>
		</div>
		<div class="tirtles bg_home padding_all border_gray_t ">
			<div class="tirtles_left textclolor_black_low line_height_40">标签</div><div class="tirtles_right text_align_right ">
				<input class="input_all inputs_text text_align_right  padding_left " type="text" placeholder="输入标签" ng-model="form.flag"   />
			</div>
		</div>
		<div class="tirtles bg_home padding_all border_gray_t border_gray_b">
			<div class="tirtles_left textclolor_black_low line_height_40">个人简介</div>
			<div class="tirtles text_align_right ">
				<textarea class="inputs_textarea" ng-model="form.content" placeholder="请输入文章内容"></textarea>
			</div>
		</div>
		<div class="contents"><a class="tirtles_center bg_bar textclolor_white border_radius padding_top_bottom" ng-click="uppersonfile(form)">保存</a></div>
		<div class="clear"></div>	
	</ion-content>
</ion-view>