<ion-view view-title="我的消息" >
  <ion-content class="chosebank">
  <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
          </ion-refresher>
    <ion-list>
        <ion-item ng-repeat="c in playlists" item="item" class="nopadding">
          <div class="tirtles bg_show padding_left padding_right margin_top" >
                            <div class="tirtles_left textclolor_black_low">theid</div>
                            <div class="tirtles_right text_align_right">
                              {{c.id}}
                            </div> 
          </div>
          <div class="tirtles bg_show padding_left padding_right margin_bottom" >
                            <div class="tirtles_left textclolor_black_low">name</div>
                            <div class="tirtles_right text_align_right">
                              {{c.title}}
                            </div> 
          </div>
          <ion-option-button class="button-calm" ng-click="update_bower(c)">修改</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="del_bower(c)">删除</ion-option-button>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll  ng-if="!noMoreItemsAvailable"
            on-infinite="loadMoreData()"  distance="10%">
          </ion-infinite-scroll>
  </ion-content>
</ion-view>
