<ion-view view-title="Home" class="products">
	<ion-content>
	<ion-refresher  spinner="bubbles" class="spinner spinner-spiral" pulling-text="Pull to refresh..." on-refresh="doRefresh()">
          </ion-refresher>
	<ion-slide-box on-slide-changed="slideHasChanged($index)" class="home_slide" auto-play="true" slide-interval="3000" does-continue="true">
	  <ion-slide>
	    <div class="images_holl bg_yellow">
			<img class="images_all " ng-src="{{'bn1'|img_url}}"/>
		</div>
	  </ion-slide>
	  <ion-slide>
	    <div class="images_holl bg_f8b55e"><img class="images_all " ng-src="{{'bn2'|img_url}}"/></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="images_holl bg_7ecef4"><img class="images_all " ng-src="{{'bn3'|img_url}}"/></div>
	  </ion-slide>
	</ion-slide-box>
	<div ng-controller="TabScriptCtrl" class="list_cell padding_bottom_large">
		<div class="content ">
			<div class="list_left padding_2 product_height overflow_hide relative"  ng-repeat="item in products">
				<img class="images_all height border_radius" ng-src="{{item.photos[0].photoname|photo_url}}" ng-click="onDragUp(item._id)" />
				<div class="absolute_bottom list_width_94 bg_trans bar_bottom_height textclolor_white  margin_left margin_bottom"
				 ng-class="{showbot:form.clickstatus[item._id],hidebot:!form.clickstatus[item._id]}" >
						<div class="tirtles_left  max_width_40">
							<div class="list_cell ">艾奇餐厅</div><div class="list_cell font_small">地址:长泰广场11号</div>
						</div>
						<div class="tirtles_right">
							<div class="list_cell">　
							</div>
							<div class="list_cell">
								<span class="ion-chatbubble-working font_large"></span><span class="margin_left_5px">2</span>
								<span class="ion-ios-heart font_large"></span><span class="margin_left_5px">2</span>
							</div>
						</div>
				</div>
			</div>
		</div>
		
	</div>
		<div class="clear"></div>
	</ion-content>
	
	<!--<div class="bar bar-footer row border_top border_color_grew nopadding bg_eee">
		<a href="#/app/chrite" class="col text_align_center textcolor_ec9826" ><span class="list_cell ion-chatboxes line_height_18 font_huge_180"></span><span class="list_cell">聊天</span></a>
		<a href="#/app/productlist" class="col text_align_center textcolor_ec9826" ><span class="list_cell ion-clock line_height_18 font_huge_180"></span><span class="list_cell">选购</span></a>
		<a href="#/app/articlelist" class="col text_align_center textcolor_ec9826" ><span class="list_cell ion-coffee line_height_18 font_huge_180"></span><span class="list_cell">闲谈</span></a>
		<a href="#/app/search" class="col text_align_center textcolor_ec9826"><span class="list_cell ion-happy-outline line_height_18 font_huge_180"></span><span class="list_cell">我的</span></a>
	</div>-->
</ion-view>
