<ion-view view-title="商品列表" class="products">
	<ion-content class="contents ">
		<div class="list_cell padding_bottom_large" > 
			<div class="tirtles text_align_center bg_eee border_radius_30 margin_bottom">
				<span class="ion-ios-search-strong textclolor_black_low"></span>
				<span class="margin_left textclolor_black_low">搜索</span>
			</div>
			<ul class="product_list">
				<li class="bg_f8b55e border_radius" ng-repeat="p in products">
					<a href="#/app/productsDetail/{{p._id}}"><img class="images_all" ng-src="{{p.photos[0].photoname|photo_url}}" /></a>
					<div class="person_pic_small overflow_hide absolute_bottom zinde left_10 bottom_10" ><img class="images_all " ng-src="{{'woman'|img_url}}"></div>
					<div class="absolute_bottom list_cell bg_trans bar_bottom_height textclolor_white" ng-class="{ tabsel_active:form.clickstatus['a']=='01'}">
						<div class="tirtles_left margin_left_70 max_width_40">
							<div class="list_cell ">艾奇餐厅</div><div class="list_cell font_small">地址:长泰广场11号</div>
						</div>
						<div class="tirtles_right">
							<div class="list_cell">　
							</div>
							<div class="list_cell">
								<span class="ion-chatbubble-working font_large"></span><span class="margin_left_5px">2</span>
								<span class="ion-ios-heart font_large"></span><span class="margin_left_5px">2</span>
							</div>
						</div>
					</div>
				</li>
				
				<li class="bg_f8b55e border_radius">
					<a href="#/app/productsDetail/{{e.productCode}}"><img class="images_all" ng-src="{{'food2'|produ_url}}" /></a>
					<div class="person_pic_small overflow_hide absolute_bottom zinde left_10 bottom_10" ><img class="images_all " ng-src="{{'woman'|img_url}}"></div>
					<div class="absolute_bottom list_cell bg_trans bar_bottom_height textclolor_white">
						<div class="tirtles_left margin_left_70 max_width_40">
							<div class="list_cell ">艾奇餐厅</div><div class="list_cell font_small">地址:长泰广场11号</div>
						</div>
						<div class="tirtles_right">
							<div class="list_cell">　
							</div>
							<div class="list_cell">
								<span class="ion-chatbubble-working font_large"></span><span class="margin_left_5px">2</span>
								<span class="ion-ios-heart font_large"></span><span class="margin_left_5px">2</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</ion-content>
</ion-view>
