<ion-view view-title="产品详情" hide-nav-bar="true">
	<ion-content class=" bg_eee">
		<div class="bar bar-header bar-light list_all relative nopadding" ng-controller="GoBack">
			<div class="transback absolute zinde margin_top margin_left" ng-click="back()"><span class="ion-chevron-left"></span></div>
			<ion-slide-box on-slide-changed="slideHasChanged(index)" class="product_slide"   auto-play="true" slide-interval="3000" does-continue="true">
			  <ion-slide ng-repeat="sl in productsdetail.photos">
			    <div class="images_holl "><img class="images_all" ng-src="{{sl.photoname|photo_url}}" /></div>
			  </ion-slide>
			</ion-slide-box>
		</div>
		<div class="contents  bg_show" >
			<div class="tirtles_left  max_width_40">
					<div class="list_cell ">艾奇餐厅</div><div class="list_cell font_small">地址:长泰广场11号</div>
			</div>
			<div class="tirtles_right">
					<div class="list_cell">　
					</div>
					<div class="list_cell">
						<span class="ion-chatbubble-working font_large"></span><span class="margin_left_5px">2</span>
						<span class="ion-ios-heart font_large"></span><span class="margin_left_5px">2</span>
					</div>
			</div>
		</div>
		<div class="list_cell  bg_show border_top border_bottom border_color_gray ">
			<div class="row bg_show   list_cell ">
						<div class="col col-20 nopadding">
							<img class="bank_icons margin_top_medil" ng-src="{{'woman'|img_url}}">
						</div>
						<div class="col col-75 nopadding">
							<div class="textclolor_black margin_top">艾奇餐厅</div>
							<div>123213</div>
						</div>
						<div class="col col-5 nopadding line_height_60">
							<span class="ion-chevron-right"></span>
						</div>
			</div>		
		</div>
		<div class="contents margin_top bg_show  ">
			<div class="list_cell border_bottom border_color_gray">饭友评论</div>
			<div class="list_cell bg_show">
			<div class="row bg_show list_cell ">
						<div class="col col-25 nopadding">
							<img class="bank_icons margin_top_medil" ng-src="{{'woman'|img_url}}">
						</div>
						<div class="col col-75 nopadding">
							<div class="textclolor_black margin_top">艾奇餐厅</div>
							<div>123213</div>
						</div>
			</div>
			<div class="row bg_show list_cell ">
						<div class="col col-25 nopadding">
							<img class="bank_icons margin_top_medil" ng-src="{{'woman'|img_url}}">
						</div>
						<div class="col col-75 nopadding">
							<div class="textclolor_black margin_top">艾奇餐厅</div>
							<div>123213</div>
						</div>
			</div>
		</div>
		</div>
		
		<div class="clear"></div>
	</ion-content>
</ion-view>