<ion-view view-title="注册"   >
	<ion-content class=" ">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">用户名</span>
		    <input type="text" placeholder="John" ng-model="form.username">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">手机号</span>
		    <input type="tel" placeholder="phone" ng-model="form.phone">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">密码</span>
		    <input type="password" placeholder="password" ng-model="form.password">
		  </label>
		  <button class="button_all button_90  bg_button_red border_none border_radius margin_top_large textclolor_white" ng-click="doregister()"  ng-disabled="!form.submits">{{form.subtext}}</button>
		</div>
		
	</ion-content>
</ion-view>
