<ion-modal-view view-title="条例相关" hide-nav-bar="true">
            	<ion-header-bar  class="bg_bar" >
            		<span  class="button button-positive button-icon ion-chevron-left font_normal " ng-click="closemodal()"></span>
            		<h1 class="title textclolor_white">条例相关</h1>
        	</ion-header-bar>
	<ion-content class="has-header bg_show padding_all">
		<div ng-if="form.status == 0">
			<p class="font_large text_align_center">项目介绍</p>
			<p class="text_indent">上海奇鑫商业保理公司与上海即富信息技术有限公司，共同推出的针对即富旗下圈子电商下供应链商户的应收款的商业保理转让与回购的金融服务。主要是针对圈子电商的存量与新建供应链交易，设立保付代理的准入机制与尽调原则，为加速供应商的资金流动性，通过保理公司保付代理业务为采购商、或供应商实现代付代收，坏账保障等金融服务，保理公司给予上海即富信息技术有限公司的圈子电商进行保理授信，在授信范围内对电子商圈所产生的应收账款进行保理业务，通过保理公司的担保职能与经营属性对获得的债权进行增信与托底，实现产品标准化，投资人通过购买保理公司发放的优质应收账款债权，实现固定高收益。</p>
		</div>
		<div ng-if="form.status == 1">

			<p class="font_large text_align_center"><span class="textclolor_red">即付通</span>服务协议</p>


<p class="text_indent">为了使用<span class="textclolor_red">即付通</span>服务，您应当事先阅读并同时遵守XX支付科技有限公司（以下简称“XX公司”）与您签署的《<span class="textclolor_red">即付通</span>服务协议》（以下简称“本协议”）及您与有关金融机构等（包括但不限于基金公司、保险公司、银行、商业保理公司、证券公司等）签署的相关服务协议（具体名称以该金融机构等协议规定的为准）。<span class="textclolor_red">即付通</span>公司依据本协议为用户（以下或称“您”）提供<span class="textclolor_red">即付通</span>服务。</p>
<p class="text_indent"><span class="textclolor_red">即付通</span>公司在此特别提醒您认真阅读和充分理解本协议各条款，特别是其中所涉及的免除或限制<span class="textclolor_red">即付通</span>公司责任，限制用户权利，争议解决和法律适用等条款。请您审慎阅读并选择是否接受本协议（未成年人应在监护人陪同下阅读）。除非您接受本协议所有条款，否则您无权使用<span class="textclolor_red">即付通</span>的理财服务。您一经点击确认或以其他方式选择接受本协议，即视为对本协议的理解和接受，您同意本协议对<span class="textclolor_red">即付通</span>的理解和接受，您同意本协议对<span class="textclolor_red">即付通</span>公司和您具有法律约束力。如果您不同意本协议的任何内容或无法准确理解相关条款，请不用进行后续操作。</p>


<p class="font_large">一、定义</p>
<p class="text_indent">除本协议另有规定外，下列用语具有如下含义：</p>
<p class="text_indent">1、<span class="textclolor_red">即付通</span>服务：指<span class="textclolor_red">即付通</span>公司基于与有关金融机构等的系统对接，为投资者提供的一项服务，包括通过<span class="textclolor_red">即付通</span>系统与金融机构等系统的整合，协助您在金融机构完成相关的金融产品的开户、在线交易、信息查询等服务。</p>
<p class="text_indent">2、身份认证要素：指<span class="textclolor_red">即付通</span>公司在交易中用于识别投资者身份的信息要素，包括但不限于投资者的<span class="textclolor_red">即付通</span>账户及其密码、<span class="textclolor_red">即付通</span>理财专户及其密码、数字证书、动态口令、即付盾、姓名、证件类型、证件号码、签约时留存的手机号码等法律法规或<span class="textclolor_red">即付通</span>公司要求的其他要素。</p>


<p class="font_large">二、适用范围</p>
<p class="text_indent">1、<span class="textclolor_red">即付通</span>服务仅面向中华人民共和国境内具有完全民事权利能力和民事行为能力、能够独立承担民事责任的自然人提供。您必须按照<span class="textclolor_red">即付通</span>公司的要求提供合法、真实、准确及完整的身份信息并及时更新。</p>
<p class="text_indent">2、如<span class="textclolor_red">即付通</span>公司发现或有合理理由怀疑您提供的身份信息不合法、不真实、不准确、不完整，<span class="textclolor_red">即付通</span>公司有权立即中止（或终止）向您提供服务，并拒绝您现在或未来使用<span class="textclolor_red">即付通</span>服务全部或部分功能；由此给您造成的任何损失由您自行承担；如您未及时更新您的身份信息，而导致<span class="textclolor_red">即付通</span>公司无法及时为您本协议下的服务或<span class="textclolor_red">即付通</span>服务的有关流程及操作发生任何错误，由此给您造成的任何损失均由您自行承担。</p>


<p class="font_large">三、特别提示</p>
<p class="text_indent">1、您知悉并同意，<span class="textclolor_red">即付通</span>公司有权采取各种必要手段对您进行身份验证。同时，财付通公司有权据此决定是否同意为您提供<span class="textclolor_red">即付通</span>服务、提供服务的范围、种类、业务操作权限及相关额度限制。为保障您的资金安全，<span class="textclolor_red">即付通</span>公司有权根据投资者类别、身份认证措施、交易风险度等因素设定不同的风控措施。</p>
<p class="text_indent">2、您知悉并同意，身份认证要素是<span class="textclolor_red">即付通</span>公司识别您身份的唯一依据，您应妥善保管您的身份认证要素，不得将您的身份认证要素泄露给任何第三方或交于任何第三方使用。<span class="textclolor_red">即付通</span>公司将对通过您的上述身份要素所发送的一切指令默认为您本人行为，您应自行对上述指令产生的后果负责。同时，您应对非<span class="textclolor_red">即付通</span>公司原因造成的账户、密码等信息被冒用、盗用或非法使用所引起的一切风险和损失应自行承担责任。</p>
<p class="text_indent">3、为了向您提供<span class="textclolor_red">即付通</span>服务，您同意并授权<span class="textclolor_red">即付通</span>公司有权将所持有的您的个人信息包括但不限于姓名、身份证件号、手机号、邮箱、联系地址、<span class="textclolor_red">即付通</span>账号、银行卡号等提供给相关金融机构；基于<span class="textclolor_red">即付通</span>服务的相关需要，您同意并授权相关金融机构有权将其所持有的您的个人信息包括但不限于您在该机构的账户、交易信息、资产状况等提供给<span class="textclolor_red">即付通</span>公司。</p>
<p class="text_indent">4、 您知悉并同意，您开通<span class="textclolor_red">即付通</span>服务的同时即开通<span class="textclolor_red">即付通</span>账户并同意签订《<span class="textclolor_red">即付通</span>服务协议》，如相关金融产品基于业务的正常开展需同时开通其他账户或功能，您也同意并接受相关服务协议或条款。</p>
<p class="text_indent">5、您知悉并同意，您网上提交的资金划转委托以银行系统与本公司系统记录为准；您提交的金融产品交易委托以金融机构的系统记录为准。您登陆<span class="textclolor_red">即付通</span>可查询到您持有金融产品的净额、收益、交易明细等，但该数据仅供参考用，所有数据应以金融机构系统数据为准。</p>
<p class="text_indent">6、<span class="textclolor_red">即付通</span>公司仅向您提供资金支付服务。您一旦通过<span class="textclolor_red">即付通</span>服务成功买入相关金融机构的产品即视为您与金融机构缔结相应协议或产品合同。<span class="textclolor_red">即付通</span>公司并非为金融产品销售合同的缔约方，不对金融产品销售合同中做出任何书面或口头陈述或承诺，同时也不对金融产品的相关真实行、合法性提供任何明示或暗示的担保，也不对金融机构销售相关金融产品对向您承担任何连带责任。</p>
<p class="text_indent">7、您知悉并同意，任何金融产品均存在一定的风险，且您自愿承担该风险。任何金融产品的业务咨询、投诉或纠纷处理均由金融机构自行处理，与<span class="textclolor_red">即付通</span>公司无关。</p>



<p class="font_large">四、服务功能</p>
<p class="text_indent">您使用<span class="textclolor_red">即付通</span>服务可实现以下功能，具体以您申请开通或使用的<span class="textclolor_red">即付通</span>公司实际提供的为准。<span class="textclolor_red">即付通</span>公司保留适时变更服务功能的权利，具体以<span class="textclolor_red">即付通</span>公司发布的公告为准。</p>
<p class="text_indent">1、<span class="textclolor_red">即付通</span>买入：您可以通过<span class="textclolor_red">即付通</span>公司系统与金融机构系统的对接，把<span class="textclolor_red">即付通</span>账户的余额或者是<span class="textclolor_red">即付通</span>账户绑定的银行卡转入资金，并由<span class="textclolor_red">即付通</span>公司把相关资金结算给相应的金融机构，由该金融机构协助您实现对应金融产品的买入操作。</p>
<p class="text_indent">2、<span class="textclolor_red">即付通</span>取出：您可以通过<span class="textclolor_red">即付通</span>公司系统与金融机构系统的对接，由相应的金融机构把已经买入的金融产品进行卖出操作，由<span class="textclolor_red">即付通</span>公司把对应的结算资金划付到您的<span class="textclolor_red">即付通</span>账户或者绑定的银行卡的操作。</p>



<p class="font_large">五、服务费用</p>
<p class="text_indent">当您使用<span class="textclolor_red">即付通</span>服务时，<span class="textclolor_red">即付通</span>公司有权向您收取相关服务费用。同时，<span class="textclolor_red">即付通</span>公司保留制定及调整服务费的权利。除非双方另有约定，<span class="textclolor_red">即付通</span>公司目前免费向您提供<span class="textclolor_red">即付通</span>服务，直至<span class="textclolor_red">即付通</span>公司在本公司网站上明示公布收费方式。如收取服务费用，您同意<span class="textclolor_red">即付通</span>公司有权从您交易款项中实时扣除该费用。</p>



<p class="font_large">六、损失补偿</p>
<p class="text_indent">1、在完成满足下列情形时，您可以就使用<span class="textclolor_red">即付通</span>服务时因资金支付造成的损失（投资损失及金融机构导致的损失除外）向<span class="textclolor_red">即付通</span>公司申请补偿：</p>
<p class="text_indent">（1）遵守《<span class="textclolor_red">即付通</span>服务协议》及其他相关规则；</p>
<p class="text_indent">（2）该损失非基于您的故意或重大过失；</p>
<p class="text_indent">（3）未获得或接受任何第三方债务人的赔偿；</p>
<p class="text_indent">（4）操作环境、支付过程中使用<span class="textclolor_red">即付通</span>公司推荐或认可的安全工具；</p>
<p class="text_indent">（5）应<span class="textclolor_red">即付通</span>公司要求提供了相关资料或证明。</p>
<p class="text_indent">发生损失后，您应立即通知<span class="textclolor_red">即付通</span>公司，并采取相关措施防止损失进一步扩大。接受到您的申请通知后，<span class="textclolor_red">即付通</span>有权基于自身的独立判断对您进行评估并决定是否向您提供补偿。财付通公司最终向您提供补偿的行为并不代表前述资金损失应归责于<span class="textclolor_red">即付通</span>公司，亦不代表<span class="textclolor_red">即付通</span>公司须为此承担其他任何责任。您同意，<span class="textclolor_red">即付通</span>公司在向您提供补偿的同时，即代位取得您向第三方追偿的权利，从其他渠道挽回了前述资金损失的或有新证据证明您涉嫌欺诈的，或者发生您应当自行承担责任的其他情形，您应向<span class="textclolor_red">即付通</span>公司立即返还补偿您的款项，否则，<span class="textclolor_red">即付通</span>公司有权自您<span class="textclolor_red">即付通</span>账户中直接扣除。</p>

<p class="text_indent">2、 在完全满足下列情形时，您可以就使用<span class="textclolor_red">即付通</span>服务时因资金支付造成的损失（投资损失及金融机构导致的损失除外）向保险公司申请补偿：</p>
<p class="text_indent">（1）<span class="textclolor_red">即付通</span>公司针对投资者使用<span class="textclolor_red">即付通</span>服务中的资金损失向保险公司投保；</p>
<p class="text_indent">（2）在保单有效期内；</p>
<p class="text_indent">（3）该损失符合保单的保险责任范围；</p>
<p class="text_indent">（4）遵守《<span class="textclolor_red">即付通</span>服务协议》、及其他相关规则；</p>
<p class="text_indent">（5）该损失非基于您的故意或重大过失；</p>
<p class="text_indent">（6）未获得或接受任何第三方债务人的赔偿；</p>
<p class="text_indent">（7）应<span class="textclolor_red">即付通</span>公司的保险公司要求提供了相关资料或证明。</p>
<p class="text_indent">发生损失后，您应立即通知<span class="textclolor_red">即付通</span>公司，并采取相关措施防止损失进一步扩大。您应根据保险公司规定的流程与规范向<span class="textclolor_red">即付通</span>公司递交保险赔付申请材料，<span class="textclolor_red">即付通</span>公司将协助您转交保险公司。保险公司最终的赔付行为并不代表前述资金损失应归责于<span class="textclolor_red">即付通</span>公司，亦不代表<span class="textclolor_red">即付通</span>公司须为此承担其他任何责任。您同意，保险公司在向您提供赔付的同时，即代位取得您向第三方追偿的权利。此外，您同意如您在接受保险公司赔付后，从其他渠道挽回了前述资金损失的或有新证据证明您涉嫌欺诈的，或者发生您应当自行承担责任的其他情形，您应向保险公司立即返还补偿您的款项，否则，<span class="textclolor_red">即付通</span>公司有权基于保险公司的委托自您<span class="textclolor_red">即付通</span>账户中直接扣除。</p>

<p class="text_indent">3、您同意，您按上述规定提起补偿申请时，如<span class="textclolor_red">即付通</span>公司已针对投资者使用即付理财服务中的资金损失向保险公司投保，<span class="textclolor_red">即付通</span>公司有权自行选择由<span class="textclolor_red">即付通</span>公司依据本协议第六条第1款约定向您补偿或由保险机构依据本协议第六条第2款向您理赔。</p>




<p class="font_large">七、不可抗力及其他免责事由</p>
<p class="text_indent">1、在使用<span class="textclolor_red">即付通</span>公司提供的即富理财服务过程中，可能会遇到不可抗力等风险因素，使<span class="textclolor_red">即付通</span>服务发生中断。不可抗力是指不能预见、不能克服、不能避免且对一方或双方造成重大影响的客观事情，包括但不限于洪水、地震、瘟疫和风暴等自然灾害以及战争、动乱、政府行为等社会事情。出现上述情况时，<span class="textclolor_red">即付通</span>公司将努力在第一时间与相关单位配合及时进行修复，但由此给您造成的损失<span class="textclolor_red">即付通</span>公司在法律允许的范围内免责。</p>
<p class="text_indent">2、在法律允许的范围内，<span class="textclolor_red">即付通</span>公司对以下情形导致的服务中断或受阻不承担责任：</p>
<p class="text_indent">（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
<p class="text_indent">（2）用户或<span class="textclolor_red">即付通</span>公司的电脑软件、系统、硬件和通信线路出现故障；</p>
<p class="text_indent">（3）用户通过非<span class="textclolor_red">即付通</span>公司授权的方式使用<span class="textclolor_red">即付通</span>服务；</p>
<p class="text_indent">（4）用户通过非<span class="textclolor_red">即付通</span>公司授权的方式使用<span class="textclolor_red">即付通</span>服务；</p>
<p class="text_indent">（5）银行系统或银行网络出现故障；</p>
<p class="text_indent">（6）其他<span class="textclolor_red">即付通</span>公司无法控制或合理预见的情形。</p>
<p class="text_indent"> 3、您在使用<span class="textclolor_red">即付通</span>服务的过程中，<span class="textclolor_red">即付通</span>公司不对下列风险担责：</p>
<p class="text_indent">（1）来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；</p>
<p class="text_indent">（2）遭受他人误导、欺骗或其他导致任何心理、生理上的伤害以及经济上的损失。</p>
<p class="text_indent">4、您在使用<span class="textclolor_red">即付通</span>服务过程中，<span class="textclolor_red">即付通</span>公司在法律规定的范围内可处理违法违规内容，但其不构成<span class="textclolor_red">即付通</span>公司的 义务或承诺。</p>




<p class="font_large">八、暂停、中断或终止服务</p>
<p class="text_indent">1、<span class="textclolor_red">即付通</span>公司有权基于业务调整或风险管控的需要，暂停、中断或终止向您提供<span class="textclolor_red">即付通</span>服务。</p>
<p class="text_indent">2、<span class="textclolor_red">即付通</span>公司在发现您有可疑交易时，有权不经通知暂停、中断或终止向您提供<span class="textclolor_red">即付通</span>服务。</p>
<p class="text_indent">3、<span class="textclolor_red">即付通</span>公司发现您违反本协议约定的，有权暂停、中断或终止向您提供<span class="textclolor_red">即付通</span>服务。</p>



<p class="font_large">九、法律适用及争端解决</p>
<p class="text_indent">1．本协议签订地为中华人民共和国XX省XX市。</p>
<p class="text_indent">2．本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律。</p>
<p class="text_indent">3.您和<span class="textclolor_red">即付通</span>公司因本协议产生任何纠纷或争议的，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交至本协议签订地有管辖权的人民法院解决。</p>



<p class="font_large">十、其他条款</p>
<p class="text_indent">1、本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
<p class="text_indent">2<span class="textclolor_red">即付通</span>公司有权在必要时修改本协议条款。您可以在相关页面查阅最新版本的协议条款，本协议条款变更后，如您继续使用<span class="textclolor_red">即付通</span>公司提供的软件或服务，即视为默认接受修改后的协议。</p>
<p class="text_indent">3、您使用<span class="textclolor_red">即付通</span>服务时，<span class="textclolor_red">即付通</span>公司可以通过电子方式向您发出通知，上述电子方式包括但不限于电子邮箱、手机号码、<span class="textclolor_red">即付通</span>客服、电话、<span class="textclolor_red">即付通</span>网站等方式。</p>
<p class="text_indent">4、本协议条款若因为何种原因部分无法生效，其余条款仍旧有效且双方具有约束力。</p>


                                                                                    <p class="font_large text_align_center"><span class="textclolor_red">即付通</span>公司</p>




		</div>
		<div ng-if="form.status == 2">
		  <p class="font_large text_align_center">风险提示</p>
			<p class="text_indent">上海奇鑫商业保理有限公司在出让应收账款债权的同时出具保理承诺函，承诺出让的应收账款债权在到期履约之时，若应收账款债务人拖欠或破产，由承诺保理公司100%的无条件承诺溢价回购。</p>
			<p class="text_indent">
			被保理企业，在质押或出让应收账款债权的同时承诺在对该项应收账款债权质押或出让的借款，承诺若到期履约之时，若应收账款债务人拖欠或破产，被保理企业100%无条件偿还借款的本金与利息并企业法人与股东承担无限连带责任担保。
			</p>

       
		</div>
	</ion-content>
</ion-modal-view>