<ion-view  view-title="更改借款人" hide-nav-bar="true" >
       <ion-header-bar  class="bg_bar" >
               <div class="tirtles bg_show border_radius overflow_hide relative list_right">
                 		<div class="tirtles_left padding_left"><input class="input_top inputs_text  padding_left "  placeholder="请输入借款人手机" ng-model="form.borrowerMobile"  type="tel" maxlength="11" /></div>
                 		<div class="tirtles_right_10 height absolute_right text_align_center padding_left_large padding_right" ng-click="dosearch()">
                             <span class="ion-search height zinde margin_right font_huge textclolor_black_low line_height_35" >   
                             </span>
                        </div>
	           </div>
               <span class="pull-right line_height_35 padding_left padding_right textclolor_white" ng-click="closesearch()">取消</span>
             
        </ion-header-bar>
       <ion-content class="bg_home chosebank " >
              <div class="tirtles_40 padding_left padding_right">
                          <div class="tirtles_left ">查询结果</div>
                          <div class="tirtles_right"><span class="tirtles_right text_align_right  line_height_40 "></span></div>
              </div>
               <div class="clear"></div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
              <ion-item item="item" ng-repeat="c in form.borrowlists" class="nopadding">
                <div class="tirtles bg_show padding_left padding_right margin_top" >
                            <div class="tirtles_left textclolor_black_low">姓名</div>
                            <div class="tirtles_right text_align_right">
                              {{c.name}}
                            </div> 
                </div>
                <div class="tirtles bg_show padding_left padding_right" >
                            <div class="tirtles_left textclolor_black_low">身份证</div>
                            <div class="tirtles_right text_align_right">
                              {{c.identityCard}}
                            </div> 
                </div>
                <div class="tirtles bg_show padding_left padding_right" >
                            <div class="tirtles_left textclolor_black_low">手机</div>
                            <div class="tirtles_right text_align_right">
                              {{c.borrowerMobile}}
                            </div> 
                </div>
                <div class="tirtles bg_show padding_left padding_right margin_bottom" >
                            <div class="tirtles_left textclolor_black_low">金额</div>
                            <div class="tirtles_right text_align_right">
                              {{c.maxBorrowAmount| tomoney}}
                            </div> 
                </div>
                <ion-option-button class="button-calm" ng-click="update_bower(c)">修改</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="del_bower(c)">删除</ion-option-button>
             </ion-item>
             <div class="contents" ng-if="form.borrowlists==null||form.borrowlists.length==0">
    			<div class="tirtles_center">暂无记录</div>
    		</div>
              </ion-list>
           
        </ion-content>
    </ion-view>