<ion-view view-title="个人中心" >
  <ion-content>
    <div class="contents bg_person relative" ng-controller="GoBack">
          <div class="transback absolute" ng-click="back()"><span class="ion-chevron-left"></span></div>
          <div class="contents menulist margin_top">
            <div class="tirtles_center" ng-controller="SevenClickCtrl"><div class="person_pic_large overflow_hide"  ng-click="clicksever()"  >
            <img class="images_holl " ng-src="{{'woman'|img_url}}" ng-if="!form.personimg">
            <img class="images_holl"  ng-src="{{form.personimg.photoname|photo_url}}" ng-if="form.personimg"/>
            </div></div>
            <div class="tirtles_center textclolor_white font_large margin_top">{{form.username}}</div>
          </div>
      </div>
      <div class="list_all margin_top">
          <a ng-href="#/app/hadbought">
      		<div class="tirtles border_gray_t bg_home ">
      			<div class="tirtles_left padding_all"><span class="ion-images textclolor_black_lows font_huge line_height_30 button_all margin_right_10px width_30px" ></span><span class="button_all ">我的相册</span></div>
      			<div class="tirtles_right padding_all text_align_right"><span class="ion-chevron-right textclolor_gray"></span></div>
      		</div>
      		</a>
      		<a ng-href="#/app/tradingrecord">
      		<div class="tirtles border_gray_t  bg_home">
      			<div class="tirtles_left padding_all"><span class="ion-happy-outline  textclolor_black_lows font_huge line_height_30 button_all margin_right_10px width_30px" ></span><span class="button_all ">我的钱包</span></div>
      			<div class="tirtles_right padding_all text_align_right"><span class="ion-chevron-right textclolor_gray"></span></div>
      			
      		</div>
		      </a>
          <a ng-href="#/app/personfile">
      		<div class="tirtles border_gray_t bg_home ">
      			<div class="tirtles_left padding_all"><span class="ion-clipboard textclolor_black_lows font_huge line_height_30 button_all margin_right_10px width_30px" ></span><span class="button_all ">我的信息</span></div>
      			<div class="tirtles_right padding_all text_align_right"><span class="ion-chevron-right textclolor_gray"></span></div>
      		</div>
      		</a>
      		<a ng-href="#/app/tradingrecord">
      		<div class="tirtles border_gray_t border_gray_b bg_home">
      			<div class="tirtles_left padding_all"><span class="ion-briefcase  textclolor_black_lows font_huge line_height_30 button_all margin_right_10px width_30px" ></span><span class="button_all ">我的商品</span></div>
      			<div class="tirtles_right padding_all text_align_right"><span class="ion-chevron-right textclolor_gray"></span></div>
      			
      		</div>
		      </a>
         
      </div>
      <div class="clear"></div>
  </ion-content>
</ion-view>
