<ion-modal-view view-title="登录"  hide-nav-bar="true" >
        <ion-header-bar  class="bg_bar" >
            <span  class="button button-positive button-icon ion-chevron-left font_normal " ng-click="closemodal()"></span>
            <h1 class="title textclolor_white">输入密码</h1>
          
        </ion-header-bar>
       <ion-content class="bg_home " >
                
                   <div class="contents">
                   	  <div class="tirtles bg_show border_radius overflow_hide">
                   		<div class="tirtles_left padding_left"><input class="input_all inputs_text  padding_left "  placeholder="请输入验证码" ng-model="form.msg" type="tel"  /></div>
                   		<div class="tirtles_right"><button class="tirtles_center bg_bar line_height_40 textclolor_white border_none" ng-click="sendmsg()" ng-class="{bg_bar:form.sendmsgs,bg_gray:!form.sendmsgs}" ng-disabled="form.sendmsgs ==false">{{form.countdown||'发送验证码'}}</button></div>
			
		          </div>
    		          <div class="tirtles bg_show border_radius margin_top padding_left">
          			<input class="input_all inputs_text  padding_left "  placeholder="请输入支付密码"  type="password" ng-model="form.password"  />
          		  </div>
		          <button class="button_all button_long  bg_bar border_radius margin_top textclolor_white border_none" ng-click="checkmsg(form)" ng-class="{bg_bar:form.submits,bg_gray:!form.submits}" ng-disabled="!form.submits">完成</button>
	           </div>

            <div class="clear"></div>
        </ion-content>
</ion-modal-view>
