<ion-modal-view view-title="{{form.tirtle}}"  hide-nav-bar="true" >
        <ion-header-bar  class="bg_bar" >
            <span  class="button button-positive button-icon ion-chevron-left font_normal " ng-click="closemodel()"></span>
            <h1 class="title textclolor_white">{{form.tirtle}}</h1>
          
        </ion-header-bar>
       <ion-content class="bg_home" >
            <div class="contents showbower">
                <div class="tirtles bg_show padding_left padding_right margin_top" >
                            <div class="tirtles_left textclolor_black_low">姓名</div>
                            <div class="tirtles_right text_align_right">
                              <input class="input_all inputs_text text_align_right  padding_left " type="text" placeholder="输入借款者姓名" ng-model="form.thebower.name" ng-class="{textclolor_black_low:form.modelsttus=='update'}" ng-disabled="form.modelsttus=='update'"  />
                            </div> 
                </div>
                <div class="tirtles bg_show padding_left padding_right" >
                            <div class="tirtles_left textclolor_black_low">身份证</div>
                            <div class="tirtles_right text_align_right">
                              <input class="input_all inputs_text text_align_right padding_left " type="tel" placeholder="输入借款者身份证" ng-model="form.thebower.identityCard" ng-class="{textclolor_black_low:form.modelsttus=='update'}" ng-disabled="form.modelsttus=='update'" />
                            </div> 
                </div>
                <div class="tirtles bg_show padding_left padding_right" >
                            <div class="tirtles_left textclolor_black_low">手机</div>
                            <div class="tirtles_right text_align_right">
                              <input class="input_all inputs_text text_align_right padding_left " type="tel" maxlength="11" placeholder="输入借款者手机号" ng-model="form.thebower.borrowerMobile" ng-class="{textclolor_black_low:form.modelsttus=='update'}"  ng-disabled="form.modelsttus=='update'" />
                            </div> 
                </div>
                <div class="tirtles bg_show padding_left padding_right margin_bottom" >
                            <div class="tirtles_left textclolor_black_low">金额</div>
                            <div class="tirtles_right text_align_right">
                              <input class="input_all inputs_text text_align_right padding_left " type="tel"  placeholder="输入限制金额" ng-model="form.thebower.BorrowAmount"   />
                            </div> 
                </div>
            </div>
            <div class="contents">
              <button class="button_all button_long bg_bar border_radius margin_top textclolor_white border_none" ng-if="form.modelsttus=='add'"  
              ng-class="{bg_bar:form.submits,bg_gray:!form.submits}" ng-click="addbower()" ng-disabled="!form.submits" >完成</button>
              <button class="button_all button_long bg_bar border_radius margin_top textclolor_white border_none" ng-if="form.modelsttus=='update'" 
              ng-class="{bg_bar:form.submits,bg_gray:!form.submits}" ng-click="doupdate(form.thebower)" ng-disabled="!form.submits" >完成</button>
            </div>

            <div class="clear"></div>
        </ion-content>
</ion-modal-view>