<ion-modal-view view-title="登录"  hide-nav-bar="true" >
        <ion-header-bar  class="bg_bar" >
            <span  class="button button-positive button-icon ion-chevron-left font_normal " ng-click="closerules()"></span>
            <h1 class="title textclolor_white">收益及提款规则</h1>
          
        </ion-header-bar>
       <ion-content class="bg_home " >
            <div class="contents">
                <div class="tirtles_center row border_all border_color_red nopadding bg_show" >
                    <div class="col border_right border_color_red" ng-class="{ tabsel_active:form.clickstatus=='tab1'}" ng-click="tabshow('tab1')">收益规则</div>
                    <div class="col  " ng-class="{ tabsel_active:form.clickstatus=='tab2'}" ng-click="tabshow('tab2')">提款规则</div>
                </div>
            </div>
            <div class="list_cell" ng-if="form.clickstatus=='tab1'">
                    <div class="tirtles padding_all">买入后，下一个交易日开始计算收益，如遇节假日顺延</div>
                    <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col">买入时间</div>
                            <div class="col text_align_center">开始计算收益</div>
                            <div class="col text_align_right">收益到帐</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周一0:00-24:00</div>
                            <div class="col text_align_center">周二</div>
                            <div class="col text_align_right">周三</div>
                    </div>
                      <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周二0:00-24:00</div>
                            <div class="col text_align_center">周三</div>
                            <div class="col text_align_right">周四</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周三0:00-24:00</div>
                            <div class="col text_align_center">周四</div>
                            <div class="col text_align_right">周五</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周四0:00-24:00</div>
                            <div class="col text_align_center">周五</div>
                            <div class="col text_align_right">周六</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周五0:00-24:00</div>
                            <div class="col text_align_center">周六</div>
                            <div class="col text_align_right">周日</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周六0:00-24:00</div>
                            <div class="col text_align_center">周日</div>
                            <div class="col text_align_right">周一</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show">
                            <div class="col">周日0:00-24:00</div>
                            <div class="col text_align_center">周一</div>
                            <div class="col text_align_right">周二</div>
                    </div>
                     <div class="tirtles padding_all">温馨提示：收益计算以实际买入，资金结算到账为准T+1结算收益</div>
            </div>

            <div class="list_cell" ng-if="form.clickstatus=='tab2'">
                   <div class="tirtles padding_all">预计到账时间交易日当天取出第二个交易日到账，节假日顺延</div>
                    <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col">取出时间</div>
                            <div class="col text_align_center">取出收益截止日期</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周一0:00-24:00</div>
                             <div class="col text_align_center">周日</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周二0:00-24:00</div>
                             <div class="col text_align_center">周一</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周三0:00-24:00</div>
                             <div class="col text_align_center">周二</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周四0:00-24:00</div>
                             <div class="col text_align_center">周三</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周五0:00-24:00</div>
                             <div class="col text_align_center">周四</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周六0:00-24:00</div>
                             <div class="col text_align_center">周五</div>
                    </div>
                     <div class="tirtles row border_bottom border_color_gray nomargin  bg_show ">
                            <div class="col ">周日0:00-24:00</div>
                             <div class="col text_align_center">周六</div>
                    </div>
                    <div class="tirtles padding_all">温馨提示：交易日是指自然日;如遇到国家法定节假日，则收益截止日期顺延</div>
            </div>

            <div class="clear"></div>
        </ion-content>
</ion-modal-view>
