<ion-view view-title="交易记录" class="products">
	<ion-content>

		<div class="contents ">
			<div class="tirtles_center row border_all border_color_red nopadding bg_show" >
				<div class="col border_right border_color_red" ng-class="{ tabsel_active:clickstatus=='01'}" ng-click="click('01')">购买</div>
				<div class="col border_right border_color_red" ng-class="{ tabsel_active:clickstatus=='02'}" ng-click="click('02')">赎回</div>
				<div class="col border_right border_color_red" ng-class="{ tabsel_active:clickstatus=='03'}" ng-click="click('03')">提现</div>
				<div class="col" ng-class="{ tabsel_active:clickstatus=='00'}" ng-click="click('00')">其他</div>
			</div>
		</div>

		<!-- <div class="tirtles bg_show padding_left margin_top textclolor_blue">7天</div> -->
		<a ng-repeat="v in form.borrowlist" ng-href="{{form.hrefstatus && form.hrefstatus + v.transFlowId }}">
		<div class="tirtles border_bottom border_color_home bg_show">
			<div class="contents_left_20 text_align_center padding_all font_small textclolor_white">
				<div ng-class="{bg_bar:v.orderStatus=='00',bg_top_rig:v.orderStatus=='01',bg_f8b55e:v.orderStatus=='02',bg_7ecef4:v.orderStatus=='03'}" class="border_radius line_height_18">
					<span ng-if="v.orderStatus=='00'">成功</span>
					<span ng-if="v.orderStatus=='01'">待支付</span>
					<span ng-if="v.orderStatus=='02'">支付中</span>
					<span ng-if="v.orderStatus=='03'">失败</span>
				</div>
			</div>
			<div class="tirtles_left padding_top padding_bottom max_width_30">
				<div ng-if="v.transType != '04' && v.transType != '05' "  class="tirtles_small">{{v.productName}}</div>
				<div ng-if="v.transType == '04' "  class="tirtles_small textclolor_red">强扣</div>
				<div ng-if="v.transType == '05' "  class="tirtles_small textclolor_blue">调单</div>
				<div class="tirtles_small font_small textclolor_black_low line_height_18">{{v.transDate | todate}} {{v.transTime | totime}}</div>
			</div>
			<div class="tirtles_right padding_all text_align_right">
				<div class="tirtles_small">{{v.amount | tomoney }}</div>
				<div ng-if="v.transType != '04' && v.transType != '05' " class="tirtles_small font_small textclolor_black_low line_height_18">元</div>
				<div ng-if="v.transType == '04' || v.transType == '05' " class="tirtles_small font_small textclolor_black_low line_height_18 margin_right">详情
					<span class=" text_align_right ion-chevron-right"></span>
				</div>
			</div>

		</div>
		</a>
		<div class="contents" ng-if="form.borrowlist==null||form.borrowlist.length==0">
			<div class="tirtles_center">暂无记录</div>
		</div>
		
		<div class="clear"></div>
	</ion-content>
</ion-view>