<ion-view view-title="详情">
	<ion-content class="textclolor_black_low">
		<div class="tirtles" ng-class="{bg_top_bf:form.transType == '04',bg_e3f9ff:form.transType == '05'}">
			<div class="contents_left_20 text_align_center padding_top_bottom padding_right padding_left font_small textclolor_white">
				<div class="bg_bar border_radius line_height_18">成功</div>
			</div>
			<span ng-if="form.transType == '04' "  class="textclolor_red margin_left">强扣</span>
			<span ng-if="form.transType == '05' "  class="textclolor_blue margin_left">调单</span>
			<span class="margin_left">{{form.deductDate | todate}}</span><span class="margin_left">{{form.deductTime | totime}}</span>
		</div>
		<div class="tirtles bg_show padding_all">
			<div>原始交易时间<span class="margin_left">{{form.transDate | todate}}</span><span class="margin_left">{{form.transTime | totime}}</span></div>
			<div class="tirtles">收款(手机号)<div class="tirtles_right text_align_right textclolor_black">{{form.borrowUser}}</div></div>
			<div class="tirtles">付款(手机号)<div class="tirtles_right text_align_right textclolor_black">{{form.payerUser}}</div></div>
			<div class="row nopadding">
				<div class="col-50">
					<div class="tirtles"><div class="contents_left_20">本金</div><div class="tirtles_right text_align_right textclolor_black margin_right_large">{{form.fundDeduct}}</div></div>
				</div>
				<div class="col-50">
					<div class="tirtles"><div class="contents_left_20 margin_left_medil">余额</div><div class="tirtles_right text_align_right textclolor_black">{{form.balanceDeduct}}</div></div>
				</div>
			</div>
			<div class="row nopadding">
				<div class="col-50">
					<div class="tirtles"><div class="contents_left_20">收益</div><div class="tirtles_right text_align_right textclolor_black margin_right_large">{{form.yieldDeduct}}</div></div>
				</div>
				<div class="col-50">
					<div class="tirtles"><div class="contents_left_20 margin_left_medil">总额</div><div class="tirtles_right text_align_right textclolor_black">{{form.totalDeduct}}</div></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
