<ion-view view-title="可提余额">
  <ion-content>
    	<div class="contents bg_bar border_bottom border_color_white">
			<div class="tirtles textclolor_white"><span class="font_huge margin_left">{{form.account.balance||0 | tomoney }}</span> </div>
			<div class="tirtles textclolor_white "><span class="font_small margin_left">可提余额（￥）</span></div>
	</div>
	<div class="contents textclolor_black_low">
		
		<div class="tirtles bg_show border_radius padding_left">
			<input class="input_all inputs_text  padding_left " type="tel"    placeholder="请输入提款金额" ng-model="form.money" name="money"  />
		</div>
		<!-- <div class="button_all button_long  bg_bar border_radius margin_top textclolor_white" ng-click="checkclick()">提现</div>
 -->		
		<a href="#/app/choseBank" ng-if="!form.bank">
					<div class="list_cell bg_show margin_bottom border_dashed border_color_grew border_radius text_align_center pro_add_bank relative margin_top">
						<span class="absolute"><span class="ion-ios-plus-outline textclolor_red relative font_xx-large"></span></span>
						<span>点击添加一张银行卡</span>
					</div>
		</a>
 		
	<a href="#/app/choseBank" ng-if="form.bank">
					<div class="row bg_show margin_bottom margin_top contents">
						<div class="col col-20 nopadding">
							<img class="bank_icons margin_top_medil" ng-src="{{ form.bank.bankId ||'default'|bank_url}}">
						</div>
						<div class="col col-75 nopadding">
							<div class="textclolor_black margin_top">{{form.bank.userName}}</div>
							<div>{{form.bank.cardNo}} {{form.bank.bankName}}</div>
						</div>
						<div class="col col-5 nopadding line_height_40">
						<span class="ion-chevron-right"></span>
						</div>
					</div>				
	</a>
		
		<div class="tirtles bank_list bg_show textclolor_alink" ng-click="showrulesview()">
			收益及提款规则
		</div>

		<div class="button_all button_long  bg_bar border_radius margin_top textclolor_white" ng-click="checkclick();">提现</div>
		
		
	</div>
	<div class="clear"></div>
  </ion-content>
</ion-view>

