/*productlist*/
.hotsale{width: 22%;top:-3px;right: 0px;}
.shield{width: 12px;top: 3px;left: -5px;}
/*productsdetail*/
.pro_chart{width: 80px;height: 80px;}
.thedate{left: -10px;}
.action-sheet .button{font-size: 15px;color: #666;padding: 0;}

.pro_detail{width: 70%}
.pro_input_l{float: left;width: 35%;}
.pro_input_r{float: left;width: 65%;}
.pro_add_bank{width: 100%;height: 5em;line-height: 5em;}
.pro_add_bank span.absolute{left: 50%;}
.pro_add_bank span.relative{right: 3em;}
/*makebank*/
.bank_number_input{height: 50px; width: auto;line-height: 50px; padding: 0 2%;}
.bank_number_input span{float: left; color: #666;}
.bank_number_input input{float: left; margin-left: 5%; height: 50px; width: 80%;}
.bank_list{padding: 3%; margin-bottom: 2px;}
.bank_list span{display: inline-block; width: 24%; color: #666;}
.bank_list input{display: inline-block;}
.bank_i_right{color: #999; font-size: large; float: right;}
/*chosebank*/
.chosebank .item-complex .item-content,.chosebank .item-radio .item-content{padding: 0}
.chose_add_bank{height: 4em; line-height: 4em; margin-bottom: 1px;}


/*toaster*/
:not(.no-enter)#toast-container > div.ng-enter,
:not(.no-leave)#toast-container > div.ng-leave
{ 
    -webkit-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 