/*self_ectro*/
.bar.bar-stable .title{color: #fff;text-align: center;}
.bar.bar-stable{background: #ec9826;}
.bar-stable .button.button-icon{color: #fff;}
.scroll-content{background: #fff;}
.clear{clear: both;}
.havebar{margin-top: 43px;}
.bar{border-bottom: 0;}
.bar-stable .button.button-clear{color: #fff;}
.bar .button.button-icon:before{font-size: 150%;}
.bg_login input[type="text"]{color: #888;}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button{
  text-align: center;border-bottom: 1px solid #ccc;
}
.border_gray_t{border-top: 1px solid #ccc;}
.border_gray_b{border-bottom: 1px solid #ccc;}
.zinde{z-index: 100;}
.showbower input[disabled]{color:#999;}
.home_slide{width: 100%;height: 130px;}
.product_slide{width: 100%;height: 250px;}
.transback{width: 35px;height:35px;border-radius: 35px;background:#fff;opacity: 0.8;line-height: 35px;text-align: center;  }
.bar-footer{height: 55px;}
.home_slide .slider-pager{
  bottom: 10px;
}
/*.products .tabs-top > .tabs, .tabs.tabs-top{bottom: 0px;top:inherit;}*/
.products .tabs-positive > .tabs, .tabs.tabs-positive{background: #eee;border-top:1px solid #999;color:#ec9221;}
/*popup*/
.popup-container .popup{ border-radius: 10px;}/*圆角*/
.popup-head .popup-sub-title{ color: #999; padding: 0.5em auto;}/*灰阶*/

.popup h3{ padding: 0.2em 0;}
/*input*/
.input-price{width: 100%; height: 2.2em; line-height: 2.2em; border: 1px solid #ccc; border-radius: 5px; overflow: hidden; text-align: center;}
.input-price input[type="text"]{ float: left; width: 70%; height: 2.2em; line-height: 2.2em; padding: 0 1em;}
.input-price span{ float: right; width: 20%;}

/*toaster*/
#toast-container{ position: absolute; top: 2.8em; text-align: center; padding: 1em;}/*定位*/
#toast-container > div{ width: 98%;}/*大小*/
.toast-top-right{ right: 0;}/*移除toast-top-right*/
#toast-container.toast-center > div, #toast-container.toast-top-center > div, #toast-container.toast-bottom-center > div{ padding: 1em;}
#toast-container > .toast-warning{ background-position: 1.8em;}/*ico定位*/

.toast{ background:rgba(0,0,0,0.8);}/*透明*/
[class^=toast]{ color: #fff;}/*字体*/
.row + .row {
   margin-top: 0px; 
  padding-top: 0; }
/*a*/
a{text-decoration: none;}
a:link, a:visited{
text-decoration: none;
border:0;
}

/*backgrounds*/
.bg_home{background: #efefef;}
.bg_bar{background: #ec9826;}
.bg_show{background: #fff;}
.bg_del{background: #ec9221;}
.bg_top_bf{background: #fff0f0;}
.bg_bar_deep{background: #ec9221;}
.bg_top_rig{background: #38c49f}
.bg_list_index{background: #fff7f8}
.bg_menu_list{ background: -webkit-linear-gradient(#232e32, #233035,#32303d); /* Safari 5.1 - 6.0 */
  background: linear-gradient(#232e32, #233035,#32303d); /* 标准的语法 */}
.bg_login{background: -webkit-linear-gradient(145deg, #f39835, #ea9323,#eb7a35);
  background: linear-gradient(145deg, #f39835, #ea9323,#eb7a35); /* 标准的语法 */}
.bg_person{background: -webkit-linear-gradient(145deg, #ec8c0a, #e7770b,#de4708);
  background: linear-gradient(105deg, #ec8c0a, #e7770b,#de4708); /* 标准的语法 */}
.bg_gray{background: #999;}
.bg_button_red{background: #ec9826;}
.bg_yellow{background: #f7d173;}
.bg_f8b55e{background: #f8b55e;}/*teb yellow*/
.bg_7ecef4{background: #7ecef4;}/*teb blue*/
.bg_e3f9ff{background: #e3f9ff;}
.bg_f6d209{background: #f6d209;}
.bg_eee{background: #eee;}
.bg_trans{background: rgba(0,0,0,0.6);}
/*textcolors*/
.textclolor_red{color:#fd5023;}
.textclolor_black{color:#000;}
.textclolor_black_low{color:#999;}
.textclolor_white{color:#fff;}
.textclolor_gray{color: #ccc;}
.textclolor_blue{color: #9db9c5;}
.textclolor_green{color: #38c49f; }
.textclolor_black_lows{color: #504d4d;}
.textclolor_alink{color: #2391e5}
.textcolor_b4b1b1{color: #b4b1b1;}
.textcolor_ec9826{color:#ec9826;}
.textcolor_ec9221{color: #ec9221;}
/*text-align*/
.text_align_center{text-align: center;}
.text_align_left{text-align: left;}
.text_align_right{text-align: right;}
/*border_radius*/
.border_radius{border-radius: 6px;}
.border_radius_30{border-radius: 30px;}
/*buttons*/
.button_all{text-align: center;float: left;}
.button_long{width: 100%;height: 40px;line-height: 40px;}
.button_small_midel{width: 30%;height: 35px;line-height: 35px;margin-left: 35%;}
.button_midell{width: 50%;height: 35px;line-height: 35px;margin-left: 25%;}
.button_80{width: 80%;height: 40px;line-height: 40px;margin-left: 10%;}
.button_90{width: 90%;height: 40px;line-height: 40px;margin-left: 5%;}
/*borders*/
.border_all{border:1px solid;}
.border_top{border-top:1px solid;}
.border_bottom{border-bottom:1px solid;}
.border_left{border-left:1px solid;}
.border_right{border-right:1px solid;}
.border_color_white{border-color: #fff;}
.border_color_grew{border-color: #999;}
.border_color_gray{border-color: #ccc;}
.border_color_home{border-color: #efefef;}
.border_color_red{border-color: #ec9826;}
.border_color_pink{border-color: #f4e6e3;}
.border_color_eee{border-color: #eee;}

.border_dashed{border: 1px dashed;}
.border_dashed_bottom{border-bottom:1px dashed #999;}
.border_none{border:none;}
/*box_shaw*/
.box_shaw{box-shadow: 2px 2px 5px #c67a1f;}
/*font*/
.font_12{font-size: 12px;}
.font_small{font-size: 80%;}
.font_normal{font-size: 100%;}
.font_large{font-size: 120%;}
.font_huge{font-size: 160%;}
.font_huge_180{font-size: 180%;}
.font_huge_add{font-size: 200%;}
.font_huge_plus{font-size: 260%;}
.font_huge_max{font-size: 350%;}
.font_weight_bolder{font-weight: bolder;}
.font_x-large{font-size: x-large}
.font_xx-large{font-size: xx-large}
.font_xx-small{font-size:xx-small;}

.text_indent{text-indent: 1em;}
/*icons*/
.bank_icons{width: 4em;height: 4em;border-radius: 4em;overflow: hidden; background: #ccc;}
/*inputs*/
.input_top{float: left;border:0;background: transparent;}
.input_all{float: left;border:0;background: transparent;min-height: 40px;}
.inputs_text{width: 100%;height: 40px;line-height: 40px;}
.inputs_textarea{width: 100%;min-height: 100px;max-width: 100%;}
.whiteinput::-webkit-input-placeholder{
  color: #fff;
}
.greyinput::-webkit-input-placeholder {
  color: #999;
}
/*images*/
.images_all{width: 100%;float: left;}
.images_small{width: 60%;float: left;}
.images_midel{width: 70%;float: left;}
.images_holl{width: 100%;height: 100%;float: left;}
.images_product{width:80px;height: 80px;float: left;}
.images_product_small{width:20px;height: 20px;}
/*tabsel*/
.tabsel{display: block;}
.tabsel_active{background: #ec9826;color:#fff; }

/*progress_bar*/

/*css3_animation*/
.showbot{
  opacity: 1;
   animation: myfirst 1s;
   -moz-animation: myfirst 1s;	/* Firefox */
   -o-animation: myfirst 1s;	/* Opera */
   animation-fill-mode:forwards;
	-webkit-animation: myfirst 1s;	/* Safari 和 Chrome */
	-webkit-animation-timing-function:ease-out;
  -webkit-animation-delay: initial;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: initial;
  -webkit-animation-fill-mode: initial;
  -webkit-animation-play-state: initial;

}
.hidebot{
  opacity: 0;
  animation: second 0.5s;
	-webkit-animation: second 0.5s;	/* Safari 和 Chrome */
	-webkit-animation-timing-function:ease-out;
  -webkit-animation-fill-mode: forwards;
}

@keyframes myfirst
{
0% {height: 0px;}
20% {height: 25px;}
40% {height: 45px;}
60% {height: 35px;}
80% {height: 25px;}
100% {height: 45px;}
}
@-webkit-keyframes myfirst /*Safari and Chrome*/
{
0% {height: 0px;}
20% {height: 25px;}
40% {height: 45px;}
60% {height: 35px;}
80% {height: 25px;}
100% {height: 45px;}
}

@keyframes second
{
0% {height: 45px;opacity: 1;}
20% {height: 35px;opacity: 0.8;}
40% {height: 25px;opacity: 0.6;}
60% {height: 35px;opacity: 0.4;}
100% {height: 25px;opacity: 0;}

}
@-webkit-keyframes second /*Safari and Chrome*/
{
0% {height: 45px;opacity: 1;}
20% {height: 35px;opacity: 0.8;}
40% {height: 25px;opacity: 0.6;}
60% {height: 35px;opacity: 0.4;}
100% {height: 25px;opacity: 0;}
}

.moveas li{
    left: -100%;
   animation: moves 0.7s  forwards   ;
  -moz-animation: moves 0.7s  forwards ;	/* Firefox */
  -webkit-animation: moves 0.7s  forwards ;	/* Safari 和 Chrome */
  -o-animation: moves 0.7s  forwards  ;	/* Opera */
  -webkit-animation-timing-function:ease-out;
   animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
}
.menulist li{position: relative;}
.menulist li:nth-child(2){animation-delay: 0.3s;-webkit-animation-delay: 0.3s;}
.menulist li:nth-child(3){animation-delay: 0.5s;-webkit-animation-delay: 0.5s;}
.menulist li:nth-child(4){animation-delay: 0.7s;-webkit-animation-delay: 0.7s;}
.menulist li:nth-child(5){animation-delay: 0.9s;-webkit-animation-delay: 0.9s;}
.menulist li:nth-child(6){animation-delay: 1.1s;-webkit-animation-delay: 1.1s;}
.menulist li:nth-child(7){animation-delay: 1.3s;-webkit-animation-delay: 1.3s;}
@keyframes moves
{
0% {transform:translateX(0%);-webkit-transform:translateX(0%);}
40% {transform:translateX(120%);-webkit-transform:translateX(120%);}
60% {transform:translateX(100%);-webkit-transform:translateX(100%);}
80% {transform:translateX(90%);-webkit-transform:translateX(90%);}
100% {transform:translateX(100%);-webkit-transform:translateX(100%);}
/*0% {left: -100%; }
10% {left: -70%;}
20% {left: -50%;}
30% {left: -20%;}
40% {left: 0%;}
60% {left: 20%;}
100% {left: 0%;}*/
}
@-webkit-keyframes moves
{
0% {transform:translateX(0%);-webkit-transform:translateX(0%);}
40% {transform:translateX(120%);-webkit-transform:translateX(120%);}
60% {transform:translateX(100%);-webkit-transform:translateX(100%);}
80% {transform:translateX(90%);-webkit-transform:translateX(90%);}
100% {transform:translateX(100%);-webkit-transform:translateX(100%);}
}
/*home*/
.home{width: 100%;height: auto;}
.height{height: 100%;}
.width_94{width: 94%;}
.width_30px{width:30px;}
.bar_bottom_height{height: 45px;}
.product_height{height: 140px;}
.max_width_40{max-width: 40%;}
/*center*/
.center_padding{width: 100%;height: auto;padding: 3%;float: left;}



/*margin*/
.margin_left{margin-left: 3%;}
.margin_right{margin-right: 3%;}
.margin_right_large{margin-right: 10%;}
.margin_top{margin-top: 3%;}
.margin_bottom{margin-bottom: 3%;}
.margin_top_medil{margin-top: 6%;}
.margin_top_large{margin-top: 10%;}
.margin_top_huge{margin-top: 20%;}
.margin_top_250{margin-top: 250px;}
.margin_left_medil{margin-left: 5%;}
.margin_left_large{margin-left: 10%;}
.margin_left_huge{margin-left: 20%;}
.margin_left_70{margin-left: 70px;}
.nomargin{margin: 0;}
.margin_auto{margin: 0 auto;}
.margin_right_10px{margin-right: 10px;}
.margin_left_5px{margin-left: 5px;}
/*padding*/
.padding_all{padding: 3%;}
.padding_top_bottom{padding: 2% 0;}
.padding_top_bottom_medil{padding: 6% 0;}
.padding_left{padding-left: 3%;}
.padding_left_large{padding-left: 6%;}
.padding_top{padding-top: 3%;}
.padding_top_medil{padding-top: 6%;}
.padding_right{padding-right: 3%;}
.padding_bottom{padding-bottom: 3%;}
.padding_bottom_large{padding-bottom: 65px;}
.nopadding{padding: 0;}
.padding_2{padding: 2%;}

/*contents*/
.contents{width: 100%;height: auto;float: left;padding: 3%;}
/*contents_left*/
.contents_left{min-width: 30%; height: auto;float: left;}
/*contents_right*/
.contents_right{min-width: 30%; height: auto;float: right;}

.contents_left_20{width: 20%;height: auto;float: left;min-height: 20px;}
.contents_right_80{width: 80%;height: auto;float: left;min-height: 20px;}

/*tirtles*/
.tirtles{width: 100%;line-height: 30px;float: left;}
.tirtles_40{width: 100%;line-height: 40px;float: left;}
.tirtles_small{width: 100%;line-height: 15px;float: left;}
.tirtles_center{width: 100%;line-height: 30px;float: left;text-align: center;height: 100%;}
.tirtles_left{float: left;min-width: 30%;}
.tirtles_right{float: right;min-width: 30%;}
.tirtles_right_10{float: right;min-width: 10%;}
.line_height_80{line-height: 80px;}
.line_height_60{line-height: 60px;}
.line_height_50{line-height: 50px;}
.line_height_45{line-height: 45px;}
.line_height_40{line-height: 40px;}
.line_height_35{line-height: 35px;}
.line_height_30{line-height: 30px;}
.line_height_18{line-height: 18px;}
.line_height_12{line-height: 12px;}

/*list*/
.list_all{width: 100%;height: auto;float: left;list-style: none;position: relative;}
.list_all li{width: 100%;height: auto;float: left;position: relative;}
.list_cell{float: left;width: 100%;}
.list_left_pic{width: 50px;height: 50px;float: left;}
.list_left_smallpic{width: 30px;height: 30px;float: left;}
.list_left{width: 50%;float: left;}
.list_right{width: 80%;float: left;}
.list_width_94{width: 94%;float: left;}
/*product_list*/
.product_list{width: 100%;height: auto;float: left;list-style: none;position: relative;}
.product_list li{width: 100%;height: 140px;float: left;position: relative;margin-bottom: 3%;overflow: hidden;position: relative;}
.center_80{width: 80%;margin-left:10%;float: left;}
/*overflow-hidden*/
.overflow_hide{
	overflow: hidden;
}
.overtext{
   text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space:normal;
}
/*position_absolute*/
.absolute{position: absolute;}
.absolute_left{position: absolute;left:0; top: 0;}
.absolute_right{position: absolute;right: 0;top: 0;}
.absolute_bottom{position: absolute;left: 0px;bottom:0px;}
/*position_relative*/
.top_30{top: 30%;}
.right_3{right: 3%;}
.relative{position: relative;}
.left_10{left: 10px;}
.bottom_10{bottom: 10px;}
.right_top_5{right: -5px;top: -5px;}
/*text*/

/*infos*/

/*toster*/

/*logins*/

/*top_bar*/

/*bottoms_bar*/

/*menulist*/
.menulist{width: 90%;padding-left: 10%;}

/*person_pic*/
.person_pic{width: 6em;height: 6em;border-radius: 6em;background: #999;margin: 0 auto;}
.person_pic_large{width: 8em;height: 8em;border-radius: 8em;background: #999;margin: 0 auto;border:2px solid #fff;}
.person_pic_small{width: 3.5em;height: 3.5em;border-radius: 3.5em;background: #999;margin: 0 auto;border:2px solid #fff;}
/*max*/
.max_width_30{max-width: 30%;overflow: hidden;}